@charset "utf-8";
@import "normalize";

html {
  height: 100%;
}

body {
  background: #262626;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  height: 100%;
  color: #EE1F47;
  text-align: center;
}

h2 {
  margin-top: -20px;
  weight: 100;
}

.welcome {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
