@charset "utf-8";
@import "normalize";

body {
  background: #ECC561;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

.welcome {
  height: 100%;
  display: flex;
  align-items: center;
}

h1 {
  color: rgba(0,0,0,0.5);
  font-weight: 400;
  margin: 0 auto;
}
