@charset "utf-8";
@import "normalize";

html {
  height: 100%;
}
body {
  background: #ECC561;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  height: 100%;
  color: rgba(0,0,0,0.5);
  text-align: center;
}

.welcome {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
